@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&display=swap');
html{
  font-size:1vw;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(ทรายเดสทอป+โทรศัพ/ทรายเดสทอป.png);
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  color:black;
}
p{
  font-size: 1.9rem;
}
h1{
  font-size: 4rem;
}
 /*div text*/
.info{
  z-index: 999;
}

 /*Text กึ่งกลาง*/
 .center-text {
  flex-direction: column;
  display:flex;
  justify-content:center;
  align-items:center;
 }

/*container element ฝั่งขวา*/
 .container-img-r1{
  top:-9.5vw;
  left: 4.5vw;
  position: flex;
 }

 /*container element ฝั่งซ้าย*/
 .container-img-l1{
   right: 6.2vw;
   top:70vw;
   position: flex;
}

/*ปะการังเขากวาง*/
 #img-r1-1{
  margin-top: 13vw;
  margin-left: 5.2vw;
  width: 16.6vw;
   z-index: 2;
   position: absolute;
 }

 /*ก้อนหินขวา*/
 #img-r1-2{
  transform: rotate(-30deg);
  width: 34.6vw;
  position: absolute;
}

/*กัลปังหา*/
#img-r1-3{ 
  margin-top: 26vw;
  margin-left: 6.7vw;
  width: 23.4vw;
  position: absolute;
}

/*พุ่มเขียว*/
#img-r1-4{
  margin-top: 33.8vw;
  margin-left: 6.7vw;
  width: 17.1vw;
  position: absolute;
}

/*ฟองน้ำ*/
#img-r1-5{
  margin-top: 30.2vw;
  margin-left: 8.8vw;
  width: 17.1vw;
  position: absolute;
}

/*ปลาดาวขยับ*/
#img-r1-6{
  margin-top: 54.6vw;
  margin-left: 15.6vw;
  width: 12.5vw;
  position: absolute;
}

/*หอยเม่น*/
#img-free-1{
  z-index: 99;
  left: 1vw;
  top: 12vw;
  margin-left: -4.5vw;
  width: 10vw;
  position: absolute;
}

/*ก้อนหินซ้าย*/
#img-l1-0{
  margin-top: -60vw;
  margin-left: -6vw;
  width: 45vw;
  position: absolute;
}

/*ปะการังเคลือบ*/
#img-l1-1{
  margin-top: -25vw;
  margin-left: 15.6vw;
  width: 20vw;
  position: absolute;
}

/*ปะการังเคลือบ*/
#img-l1-2-1{
  margin-top: -51vw;
  margin-left: 8vw;
  width: 15vw;
  position: absolute;
  transform: rotate(70deg);
}
/*ปะการังเคลือบ*/
#img-l1-2-2{
  margin-top: -45vw;
  margin-left: 13vw;
  width: 16vw;
  position: absolute;
  transform: rotate(120deg);
}

/*ปะการังเคลือบ*/
#img-l1-2-3{
  margin-top: -45vw;
  margin-left: 7vw;
  width: 16vw;
  position: absolute;
  transform: rotate(80deg);
}

/*พุ่มสีเขียว*/
#img-l1-3{
  margin-top: -34vw;
  margin-left: 8vw;
  width: 22vw;
  position: absolute;
  transform: rotate(120deg);
}

/*ปลาปักเป้า*/
#img-l1-4{
  margin-top: -33vw;
  margin-left: 20vw;
  width: 10vw;
  position: absolute;
}

/*ปพการังเขากวางซ้าย*/
#img-l1-5{
  margin-top: -60vw;
  margin-left: 10vw;
  width: 12vw;
  position: absolute;
}

/*เงาน้ำซ้ายบน*/
#img-free-2{
  z-index: 99;
  left: -70vw;
  top: 3vw;
  margin-right: 1vw;
  width: 35vw;
  position: absolute;
  opacity: 50%;
  mix-blend-mode:hard-light ;
}

/*ฝูงปลา*/
#img-free-3{
  z-index: 99;
  left: 1vw;
  top: -5vw;
  margin-right: 1vw;
  width: 12vw;
  position: absolute;
}

/*ฝูงปลา*/
#img-free-4{
  z-index: 99;
  left: 6vw;
  top: 7vw;
  margin-right: 1vw;
  width: 12vw;
  position: absolute;
  transform: rotate(-10deg);
}

/*ปลาว่ายน้ำ*/
.fish{
  z-index: 100;
  margin-top: -62vw;
  position: absolute;
  left: 0vw;
  transform: rotate(-30deg);
  animation: swim 12s ease-in infinite;
}

/*ถ้าปะการังหายไป*/
#title{
  margin: 3vw;
  width: 40rem;
  position: relative;
}
.mtitle{
  margin-top: 12vw;
}

/*Animation*/
@keyframes swim {
  0% {margin-top: -27vw;
      left: 110vw;}
  100%{margin-top: -85vw;}
}
