@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&display=swap');
html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(ทรายเดสทอป+โทรศัพ/ทรายเดสทอป.png);
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:black;
}
p{
  font-size: 1em;
}
h1{
  font-size: 2em;
}
 .center-text {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
 }
 .center-text > p{ 
   width: 33%;
 }
 .left-text{
  line-height: 0.5em;
  display:flex;
  justify-content:center;
  margin-right: 10em;
 }
 .container-img{
   top:-66%;
  right: 24%;
  position: relative;
 }
 #img2{
  margin-top: 250px;
  margin-left: 100px;
  width: 20em;
   z-index: 2;
   position: absolute;
 }

 #img1{
   transform: rotate(-30deg);
   width: 666px;
  position: absolute;
}

