@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@200&display=swap');

body{
  background:rgb(76, 158, 132);
  font-family: 'IBM Plex Sans Thai', sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:aliceblue;
}
a{
  color:aliceblue;
  text-decoration: none;
}
.social{
  font-size:2em;
}